:root {
    --color-white: #fff;
    --color-black: #000;
}
*, *::before, *::after {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
	height: 100%;
}
body {
    margin: 0;
    font-size: 3.5vw;
    font-family: 'Kanit', serif;
    font-weight: 300;
    padding-top: 48px;
}
img {
    width: auto;
    max-width: 100%;
    float: left;
}
ul, li {
    width: auto; margin: 0; padding: 0; list-style: none;
}
h1, h2, h3, h4, h5, h6 { font-family: 'Kanit', sans-serif; font-weight: 500; margin: 8px 0; width: 100%; float: left; }
h1 { font-size: 8vw; }
h2 { font-size: 5vw; line-height: 1.2; }
h3 { font-size: 5.4vw; line-height: 1.2; span { font-weight: 400; font-size: 4vw; }}
h4 { font-size: 3.6vw; line-height: 1.2; margin: 0 0 12px;}
.tablet {
    display: none;
}
p {
    margin: 0;
}
.layout {
    width: 100%;
    max-width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}
header {
    background-color: var(--color-white);
    font-family: 'Kanit', serif;
    font-weight: 300;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10px;
    z-index: 100;
    box-shadow: 0 0 5px rgba(0,0,0,.2);
    img {
        float: left;
        width: 128px;
        margin-top: 2px;
        max-width: none;
    }
}
nav {
    float: right;
    font-size: 14px;
    ul, li {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    li {
        float: left;
        margin-left: 20px;
        line-height: calc(24 / 12);
    }
    a {
        color: var(--black);
        text-decoration: none;
    }
}
section {
    width: 100%;
    height: auto;
    overflow: hidden;
    // min-height: 30vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    &.s1, &.s2, &.s7 {
        padding-top: 56.25%;
        position: relative;
        height: 0;
        background: #000;
        iframe, video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &.s3 {
        background: url('../images/s3-bg.jpg') no-repeat center top;
        background-size: cover;
        text-align: center;
        color: var(--color-white);
        div {
            bottom: auto;
            width: 100%;
            margin: 30% auto 5%;
            img { width: 64%; float: none; }
            h2 {
                margin: 0 0 4px;
            }
            p { font-size: 3.5vw; font-style: italic; line-height: 1.2;}
        }
    }
    &.s4 {
        .section4-slide {
            .first, .last {
                padding: 0;
                background-size: cover;
            }
            .first {
                padding-top: 40px;
                display: flex;
                flex-direction: column;
                background: #CFE8F2 url('../images/s4-bg-mobile.jpg') no-repeat left top;
                background-size: 200%;
                > div {
                    width: 100%;
                    &:first-child {
                        padding: 0 20px;
                        img {
                            width: 90%;
                            float: none;
                        }
                    }
                    &:last-child {
                        margin-top: 24px;
                        img {
                            width: 100%;
                        }
                    }
                }
            }
            .last {
                background: #CFE8F2 url('../images/s4-bg-mobile.jpg') no-repeat right top;
                background-size: 200%;
                div {
                    width: 100%;
                    padding: 12px 5%;
                    > img {
                        width: 40%;
                        margin-left: 6%;
                        margin-top: 3%;
                    }
                }
                h2 {
                    text-align: center;
                    font-size: 7vw;
                }
                ul {
                    li {
                        border-radius: 16px;
                        width: 100%;
                        padding: 12px;
                        // margin-bottom: 16px;
                        overflow: hidden;
                        display: flex;
                        align-items: center;
                        &:first-child { 
                            background-color: rgba(255,255,255,.9);
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                        > img {
                            width: 30%;
                            float: left;
                        }
                        > div {
                            width: 70%;
                            float: left;
                            overflow: hidden;
                            padding: 12px 0 12px 3%;
                            img {
                                width: 60%;
                                margin-bottom: 2%;
                                margin-left: 0;
                            }
                        }
                        h3 { text-align: left; font-size: 5vw; margin-bottom: 0; }
                        p {
                            text-align: left;
                            font-size: 2.8vw;
                            line-height: 1.3;
                            margin-top: 8px;
                            width: 100%;
                            float: left;
                            overflow: hidden;
                        }
                        &:last-child {
                            div {
                                img {
                                    width: 60%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.s5 {
        background-color: #E0E1E0;
        .section5-slide {
            .first {
                background: #E0E2E1 url('../images/s5-bg-mobile.jpg') no-repeat left top;
                background-size: 200%;
                padding: 25% 0;
                img {
                    width: 70%;
                    float: none;
                }
                div {
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    div {
                        margin-top: 35%;
                        padding: 16px 10%;
                    }
                }
            }
            .last {
                background: #E0E2E1 url('../images/s5-bg-mobile.jpg') no-repeat right top;
                background-size: 200%;
                font-size: 3.4vw;
                padding: 32px 12px;
                ul {
                    li {
                        width: 100%;
                        overflow: hidden;
                        text-align: center;
                        float: left;
                        margin: 3% 0;
                        display: flex;
                        align-items: center;
                    }
                    img {
                        width: 35%;
                        // float: none;
                    }
                    p {
                        overflow: hidden;
                        text-align: left;
                        padding-left: 2%;
                        width: 65%;
                    }
                }
            }
        }
    }
    &.s6 {
        max-height: calc(100vh - 60);
        .section6-slide {
            height: 100%;
            background-color: #A6CDD6;
            text-align: left;
            .first {
                height: 100%;
                background: url('../images/s6-bg-mobile.png') no-repeat left top;
                background-size: 300%;
                float: left;
                > div {
                    padding: 42% 8px 20px;
                    float: left;
                    width: 100%;
                    div {
                        margin: 12px 0 0;
                        float: left;
                        img {
                            border-radius: 16px;
                        }
                        p {
                            width: 100%;
                            margin: 4px 0 8px;
                            overflow: hidden;
                        }
                        div {
                            img { width: 100%; max-width: none; }
                        }
                    }
                    .img {
                        width: 100%;
                    }
                }
                h2, h3 {
                    margin: 0;
                }
                h2 {
                    font-size: 6vw;
                    padding-left: 10%;
                }
                h3 {
                    text-align: center; 
                }
                ul, li {
                    overflow: hidden;
                    float: left;
                    width: 100%;
                }
                li {
                    background-color: #252E41;
                    color: var(--color-white);
                    font-size: 2.5vw;
                    line-height: 1.6;
                    border-radius: 16px;
                    margin: 2px 0;
                    padding: 0 4px;
                    span { color: #7BBDDA ; width: 25%; float: left; text-align: center; }
                    &:first-child { 
                        span { width: 35%;}
                    }
                    strong {
                        font-size: 2.5vw;
                        font-weight: 600;
                    }
                }
                // .img {
                //     width: 55%;
                //     padding-top: 35%;
                //     overflow: hidden;
                //     border-radius: 20px;
                //     background: url('../images/s6-slide1-img1.png') no-repeat left 8% bottom -20px;
                //     background-size: cover;
                //     float: left;
                //     margin: 0;
                //     + div {
                //         width: 45%;
                //         text-align: left;
                //         padding-left: 10px;
                //         font-size: 3.2vw;
                //         margin: 20px 0;
                //         img {
                //             width: 100%;
                //             max-width: none;
                //         }
                //         p {
                //             width: 100%;
                //             line-height: 1.3;
                //             float: left;
                //             overflow: hidden;
                //             margin-top: 12px;
                //         }
                //     }
                // }
            }
            .second, .last {
                h3 {
                    position: relative;
                    &::before {
                        content: "";
                        width: 5px;
                        height: 100%;
                        background-color: #fff;
                        position: absolute;
                        margin-left: -20px;
                    }
                }
            }
            .second {
                background: url('../images/s6-bg-mobile.png') no-repeat center top;
                background-size: 300%;
                height: 100%;
                > div {
                    padding: 20px;
                    margin: 0 5%;
                    font-size: 3.2vw;
                    p {
                        float: left;
                        margin: 8px 0 12px;
                    }
                }
                .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background: url('../images/s6-slide2-img2.png') no-repeat left bottom;
                    background-size: 200%;
                }
            }
            .last {
                background: url('../images/s6-bg-mobile.png') no-repeat right top;
                background-size: 300%;
                height: 100%;
                > div {
                    align-self: flex-start;
                    padding-top: 40px;
                    font-size: 3.5vw;
                    h3, p {
                        padding: 0 40px;
                    }
                    p {
                        float: left;
                        margin-bottom: 20px;
                    }
                }
                .bg {
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    background: url('../images/s6-slide2-img2.png') no-repeat right bottom;
                    background-size: 200%;
                }
            }
        }
        .note {
            font-size: 2vw;
            float: left;
            margin-top: 8px;
        }
    }

    &.s8 {
        background-color: var(--color-black);
        color: var(--color-white);
        text-align: center;
        padding: 40px;
        display: flex;
        align-items: center;
        flex-direction: column;
        span { color: #B58C6E;}
        img {
            float: none;
            width: 40%;
            margin-bottom: 16px;
        }
        p { 
            display: block;
            overflow: hidden;
            width: 100%;
        }
    }

    &.s10 {
        background: #000 url('../images/s10-bg.jpg') no-repeat right top -50px;
        background-size: 200%;
        padding-bottom: 40px;
        h4 {font-weight: 400; font-size: 3.5vw;}
        > div {
            padding: 20px;
            margin-top: 70%;
            color: var(--color-white);
            text-align: left;
            font-size: 3vw;
            position: relative;
            div {
                img {
                    width: 100%;
                    max-width: none;
                    &:first-of-type {
                        width: 65%;
                    }
                }
                p {
                    line-height: 1.1;
                    margin: 4px 0;
                    float: left;
                    width: 35%;
                    padding-left: 12px;
                }
            }
            > img {
                width: 45%;
                position: absolute;
                top: 0;
                right: 20px;
                transform: translateY(-35%);
            }
        }
    }
}
.swiper {
    width: 100%;
    padding: 0;
}
.swiper-button-prev, .swiper-button-next {
    background-repeat: no-repeat !important;
    height: 32px !important;
    width: 24px !important;
    background-size: contain;
}
.swiper-button-prev {
    left: 4px !important;
    background-image: url("../images/icon-triangle.svg") !important;
}
.swiper-button-next {
    right: 4px !important;
    transform: rotate(180deg);
    background-image: url("../images/icon-triangle.svg") !important;
}
:root {
    --swiper-theme-color: transparent !important;
    // --swiper-theme-color: rgba(0,0,0,.24) !important;
}
.swiper-button-disabled { opacity: 0 !important;}
.swiper-slide {
    // padding: 0 10px;
    // width: calc(100% - 20px);
    height: auto !important;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide8 {
    background-color: var(--color-white);
    padding: 20px;
    font-size: 16px;
    img {
        margin-bottom: 10px;
        float: none;
    }
    a {
        background-color: var(--color-black);
        border-radius: 8px;
        color: var(--color-white);
        padding: 5px 10px;
        text-decoration: none;
        width: 40%;
        margin: 0 5px;
        display: inline-block;
    }
}
footer {
    background-color: #023C67;
    color: var(--color-white);
    padding: 20px;
    overflow: hidden;
    a {
        color: var(--color-white);
        text-decoration: none;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
            padding: 10px;
            border-bottom: 1px solid var(--color-white);
            margin: 0;
            text-align: left;
            overflow: hidden;
        }
    }
    img {
        float: left;
        margin-right: 10px;
    }
    p {
        overflow: hidden;
        margin: 0;
    }
    > p {
        padding: 10px 0;
        font-weight: 300;
        font-size: 1.1rem;
    }
    .iso {
        img {
            width: 38%;
        }
        p {
            font-size: 2.5vw;
            line-height: 1.4;
        }
    }
}
.cookie {
    background-color: #37C6F2;
    color: var(--color-white);
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-size: 1.4rem;
    padding: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: none;
    a {
        color: #fff;
    }
    button {
        background-color: #fff;
        color: #37C6F2;
        border: 0;
        height: 32px;
        padding: 0 16px;
        font-family: 'Kanit', sans-serif;
        margin-top: 16px;
        cursor: pointer;
    }
    &.display {
        display: block;
    }
}
@media screen and (min-width: 48em) {
    h1 { font-size: 4.3vw; }
    h2 { font-size: 4.2vw; line-height: 1.2; }
    h3 { font-size: 4vw; span { font-size: 3vw; }}
    h4 { font-size: 2.5vw; line-height: 1.3; font-weight: 400; }
    body {
        font-size: 2vw;
        line-height: 1.3;
        padding-top: 60px;
    }
    .mobile {
        display: none;
    }
    .tablet {
        display: block;
    }
    header {
        padding: 12px 10px 16px;
        img {
            width: 200px;
        }
    }
    nav {
        font-size: 16px;
        font-weight: 400;
    }
    section {
        text-align: left;
        &.s3 {
            div {
                margin-top: 26%;
                overflow: hidden;
                width: 70%;
                h2 {
                    margin-top: 12px;
                }
                img { width: 58%;}
                p { font-size: 2.2vw; line-height: 1.3; margin-top: 8px; float: left; width: 100%;}
            }
        }
        &.s4 {
            min-height: auto;
            // padding-top: calc(56.25% - 60px);
            > div {
                width: 100%;
                height: 100%;
                // position: absolute;
                // top: 0;
                // left: 0;
            }
            .section4-slide {
                .first, .last {
                    padding: 0;
                    background-size: cover;
                }
                .first {
                    display: block;
                    background: #CFE8F2 url('../images/s4-bg-mobile.jpg') no-repeat left top;
                    background-size: 200%;
                    > div {
                        width: 55%;
                        margin-left: auto;
                        margin-right: auto;
                        margin-top: 7%;
                        float: left;
                        &:first-child {
                            padding: 0 0 0 10%;
                            text-align: left;
                            width: 51%;
                            img {
                                margin-bottom: 6%;
                                width: 120%;
                                max-width: none;
                            }
                            p {
                                width: 91%;
                                float: left;
                            }
                        }
                        &:last-child {
                            margin-top: 24px;
                            width: 60%;
                            position: absolute;
                            bottom: 0;
                            right: 0;
                            z-index: 0;
                            img {
                                width: 100%;
                                float: right;
                            }
                        }
                    }
                }
                .last {
                    background: #CFE8F2 url('../images/s4-bg-mobile.jpg') no-repeat right top;
                    background-size: 200%;
                    > div {
                        width: 60%;
                        margin: 0 auto;
                        padding: 3% 5%;
                    }
                    h2 {
                        font-size: 2.6vw;
                        width: 100%;
                        margin: 3% auto 3%;
                        float: none;
                        font-style: normal;
                    }
                    ul {
                        width: 100%;
                        float: left;
                        margin: 0;
                        li {
                            align-items: flex-start;
                            padding: 16px;
                            margin-bottom: 2%;
                            h3 {
                                font-size: 2.2vw;
                                margin-top: 0;
                            }
                            p {
                                font-size: 1.6vw;
                                line-height: 1.2;
                            }
                            > div {
                                // width: 75%;
                                padding: 0 0 0 3%;
                            }
                            > img {
                                // width: 25%;
                            }
                        }
                    }
                }
            }
        }
        &.s5 {
            min-height: auto;
            h2 {
                font-size: 3.4vw;
            }
            .section5-slide {
                .first {
                    background: url('../images/s5-bg-large.jpg') no-repeat left top;
                    background-size: 200%;
                    padding: 0;
                    img {
                        width: 40%;
                        margin-left: 20px;
                        margin-top: 3%;
                        align-items: center;
                    }
                    > div {
                        display: flex;
                        flex-direction: column;
                        width: 90%;
                        height: auto;
                        // transform: translateY(-20%);
                        // padding: 10%;
                        div {
                            width: 80%;
                            padding-left: 20px;
                            margin-top: 2%;
                            font-size: 1.5vw;
                            p {
                                margin-top: 0;
                                width: 100%;
                                line-height: 1.5;
                            }
                        }
                    }
                }
                .last {
                    background: url('../images/s5-bg-large.jpg') no-repeat right top;
                    background-size: 200%;
                    padding: 0;
                    h2 { text-align: center; font-size: 3.6vw; font-style: normal;}
                    div { width: 100%; margin: 3% 0; }
                    ul {
                        width: 70%;
                        margin: 0 auto;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0 0 20px 0;
                        li {
                            width: 50%;
                            padding: 0 3% 0 0;
                            margin-bottom: 0;
                            overflow: initial;
                            font-size: 1.25vw;
                            position: relative;
                            display: inline-block;
                            text-align: center;
                            &:nth-child(1) { order: 1; }
                            &:nth-child(2) { order: 2; }
                            &:nth-child(3) { order: 4; }
                            &:nth-child(4) {
                                order: 3;
                                &::after {
                                    transform: rotate(180deg);
                                    right: -25px !important;
                                }
                            }
                            &:nth-child(1), &:nth-child(4) {
                                &::after {
                                    content: "";
                                    width: 15%;
                                    height: 15%;
                                    background: url('../images/s5-arrow1.png') no-repeat right center;
                                    background-size: contain;
                                    position: absolute;
                                    top: 20%;
                                    right: -30px;
                                }
                            }
                            &:nth-child(2) {
                                &::after {
                                    content: '';
                                    width: 11%;
                                    height: 130%;
                                    background: url('../images/s5-arrow2.png') no-repeat center top;
                                    background-size: 80%;
                                    position: absolute;
                                    top: 25%;
                                    right: 0;
                                    transform: translateX(100%);
                                }
                            }
                            &:nth-child(2), &:nth-child(3) {
                                padding-right: 0;
                                padding-left: 3%;
                            }
                        }
                        img { width: 55%; float: none;}
                        p {
                            width: 100%;
                            text-align: center;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
        &.s6 {
            .section6-slide {
                .first {
                    background: url('../images/s6-bg-large.jpg') no-repeat left top;
                    background-size: 310%;
                    h2, h3 {
                        width: 100%;
                        overflow: hidden;
                        line-height: 1.2;
                    }
                    h2 {
                        font-size: 3.2vw;
                        padding-left: 0;
                        margin: 0 0 0;
                    }
                    h3 {
                        text-align: left;
                        padding-left: 50px;
                        font-size: 2.5vw;
                        margin: 0;
                    }
                    > div {
                        padding: 20px;
                        width: 100%;
                        max-width: 95%;
                        margin: 0 0 0 5%;
                        overflow: hidden;
                        > div {
                            float: left;
                            margin-top: 8px;
                            margin-bottom: 4px;
                            img, p {
                                width: calc(50% - 6px);
                            }
                            img {
                                float: none;
                            }
                            p {
                                margin: 0 0 0 6px;
                                font-size: 1.5vw;
                                line-height: 1.3;
                            }
                            > div {
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                            }
                        }
                        .img {
                            text-align: center;
                            width: calc(50% - 6px);
                            margin-right: 6px;
                            img {
                                width: 80%;
                            }
                        }
                    }
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        li {
                            width: calc(50% - 6px);
                            margin: 4px 6px;
                            font-size: 1.3vw;
                            line-height: 2.8;
                            strong {
                                font-size: 1.2vw;
                                font-weight: 400;
                            }
                            &:nth-child(1) { order: 1; margin-left: 0;}
                            &:nth-child(2) { order: 3; margin-left: 0;}
                            &:nth-child(3) { order: 5; margin-left: 0;}
                            &:nth-child(4) { order: 2; margin-right: 0;}
                            &:nth-child(5) { order: 4; margin-right: 0;}
                            &:nth-child(6) { order: 6; margin-right: 0;}
                        }
                    }
                    // .img {
                    //     width: calc(50% - 8px);
                    //     padding-top: 18%;
                    //     + div {
                    //         width: 100%;
                    //         padding-left: 0;
                    //         margin: 8px 0 0;
                    //         img { width: calc(50% - 8px); }
                    //         p { font-size: 1.6vw; width: calc(50% - 8px); margin-left: 16px; line-height: 1.2; margin-top: 4px; }
                    //     }
                    // }
                }
                .second {
                    background: url('../images/s6-bg-large.jpg') no-repeat left 47% top;
                    background-size: 310%;
                    > div {
                        width: 60%;
                        transform: translateX(20%);
                    }
                    .bg {
                        transform: translateX(0);
                        background-size: 160%;
                    }
                }
                .last {
                    .bg { display: none;}
                    > div { width: 100%; padding-top: 10%;}
                    h3, p { width: 60%; transform: translateX(50%); }
                    .img {
                        width: 100%;
                        position: absolute;
                        bottom: 0;
                        img {
                            width: 50%;
                        }
                    }
                }
                .second, .last {
                    h3 {
                        font-size: 4vw;
                    }
                    p {
                        font-size: 2vw;
                    }
                }
            }
            .note {
                font-size: 1.2vw;
                width: 100%;
                overflow: hidden;
                float: left;
            }
        }
        &.s8 {
            text-align: center;
            flex-direction: row;
            justify-content: center;
            img {
                width: 25%;
                margin-right: 48px;
                display: inline-block;
            }
            p {
                width: auto;
                display: inline-block;
                text-align: left;
            }
        }
        &.s9 {
            ul {
                width: 100%;
                float: left;
            }
            li {
                width: 50%;
                float: left;
                overflow: hidden;
            }
            img {
                width: 100%;
                max-width: none;
            }
        }
        &.s10 {
            background-size: 100%;
            > div {
                margin-top: 0;
                float: left;
                line-height: 1.2;
                h1 { font-size: 3.3vw;}
                h4 { font-size: 1.8vw; width: 100%;}
                div {
                    width: 48%;
                    margin-left: 8%;
                    float: left;
                    overflow: hidden;
                    img {
                        &:first-of-type {
                            width: 75%;
                        }
                    }
                    p {width: 100%; margin: 2% 0; font-size: 1.9vw;}
                }
                > img {
                    top: auto;
                    bottom: 20px;
                    right: 40px;
                    transform: translateY(0);
                    width: 24%;
                }
            }
        }
    }
    .slide8 {
        text-align: center;
        div {
            display: block;
            margin: 10px 0;
        }
        a {
            width: 30%;
        }
    }
    footer {
        ul {
            li {
                border-bottom: 0;
                float: left;
                font-size: 14px;
                font-weight: 300;
                &:nth-child(1) {
                    width: 30%;
                    border-right: 1px solid var(--color-white);
                }
                &:nth-child(2) {
                    width: 25%;
                }
                &:nth-child(3) {
                    width: 20%;
                }
                &:nth-child(4) {
                    width: 25%;
                    p {
                        margin-top: 5px;
                    }
                }
            }
            + p {
                width: 100%;
                float: left;
                margin: 16px 0;
            }
        }
        p {
            font-size: 14px;
            text-align: left;
        }
        .iso {
            p {
                font-size: 10px;
            }
        }
    }
    .swiper-button-next {
        right: 10px !important;
    }
    .swiper-button-prev {
        left: 10px !important;
    }
    .swiper-button-prev, .swiper-button-next {
        height: 44px !important;
        width: 27px !important;
    }
}
@media screen and (min-width: 60em) {
    section {
        &.s1, &.s2, &.s7 {
            padding-top: 50%;
        }
    }
    .slide8 {
        padding: 50px 0;
        .layout {
            width: 1000px;
            margin: 0 auto;
        }
        img {
            float: left;
        }
        div {
            a {
                margin-top: 20px;
                font-size: 20px;
            }
        }
    }
    .cookie {
        p {
            display: inline-block;
            vertical-align: middle;
            line-height: 32px;
        }
        button {
            margin-top: 0;
            width: 80px;
            margin-left: 20px;
        }
    }
}

@media screen and (min-width: 64em) {
    body {
        font-size: 1.8vw;
    }
    h1 { font-size: 3.8vw;}
    section {
        &.s4 {
            .section4-slide {
                .first {
                    > div {
                        &:first-child {
                            padding-left: 15%;
                        }
                        &:last-child {
                            // width: 60%;
                        }
                    }
                }
            }
        }
        &.s5 {
            h2 {
                // font-size: 2.5vw;
                margin-top: 5%;
            }
            .section5-slide {
                .first {
                    img {
                        width: 35%;
                    }
                    > div {
                        width: 70%;
                        div {
                            p {
                                // font-size: 1.2vw;
                                margin-top: 8px;
                            }
                        }
                    }
                }
            }
        }&.s6 {
            .section6-slide {
                .first {
                    ul {
                        li {
                            font-size: 1vw;
                            line-height: 2.5;
                            strong {
                                font-size: 1vw;
                                font-weight: 400;
                            }
                        }
                    }
                }
            }
            .note {
                font-size: 0.9vw;
            }
        }
    }
}